{include file='public/header' /}

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_pass" name="password" lay-verify="pass"
                       autocomplete="off" class="layui-input" placeholder="新密码">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16位长度的非中文字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="save" lay-submit="" id="submit">
                保存
            </button>
        </div>
    </form>
</div>
{include file='public/base_js' /}
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form()
            , layer = layui.layer;

        //自定义验证规则
        form.verify({

            pass: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!new RegExp("^[a-zA-Z0-9]{6,10}$").test(value)){
                    return '新密码格式不符合要求';
                }}

        });

        form.on('submit(save)', function (data) {
            alert('要提交啦');
            $.ajax({
                type: 'POST',
                url: "{:url('admin/update')}",
                data: $(".layui-form").serialize(),
                dataType: "json",
                success: function (data) {
                    x_admin_close();
                    alert(data.message);
                }
            })
        });

        // $(function () {
        //     $("#submit").on('click', function () {
        //         $.ajax({
        //             type: 'POST',
        //             url: "{:url('admin/update')}",
        //             data: $(".layui-form").serialize(),
        //             dataType: "json",
        //             success: function (data) {
        //                 x_admin_close();
        //                 alert(data.message);
        //             }
        //         })
        //     })
        // })
    })

</script>
</body>

</html>