<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实习帮小程序码</title>
</head>
<body>
    <p align="center" style="color:red;font-size:40px;">{$user_id}</p>
    <p align="center" style="color:red;font-size:40px;">{$user_name}，您好</p>
    <p align="center" style="color:red;font-size:40px;">小程序需要企业资质，此处为测试版二维码</p>
    <p style="text-align:center">
        <img src="{$user_qrcode}" />
    </p>
    <p align="center" style="color:black;font-size:40px;">长按扫描二维码进入</p>
    <p align="center" style="color:black;font-size:40px;">
        <strong>
            sspku实习帮
        </strong>
        小程序
    </p>
    <!--<p align="center" style="color:black;font-size:40px;">
        <strong>
            注意：以上二维码含有个人信息，请勿分享
        </strong>
    </p>-->
    <p align="center" style="color:red;font-size:40px;">
        <strong>
            注意：以上二维码为测试体验版，无法获取您的身份信息
        </strong>
    </p>
</body>
</html>